@tailwind base;
@tailwind components;
@tailwind utilities;

.file-input-label {
    @apply block text-sm font-medium text-gray-700;
}
.file-input {
    @apply inset-0 flex items-end text-right px-3 text-gray-500;
}
.file-input-wrapper {
    @apply relative;
}
.file-input-text {
    @apply inset-0 flex items-center px-3 text-gray-500;
}
.file-input-custom {
    @apply opacity-0 absolute inset-0 cursor-pointer;
}

.image-preview {
    @apply w-full h-auto max-w-md border border-gray-300 rounded-md shadow-md
}

body {
    overflow: hidden;
}

#shredder {
    /* position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    z-index: 3; */
    
    right: -100%;
    opacity: 0;
}

.shredder-image {
    /* @apply overflow-clip; */
}

/* #mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
    pointer-events: none;
    z-index: 2;
    transition: background 1s ease;
}*/

.swipe-out img {
    width: 100%;
    height: 100%;
    background: #3498db; /* Background color or image of your choice */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-align: center;
    /* position: relative; */
    z-index: 1;

    /* mask-image: linear-gradient(black, transparent); */
}

.swipe-out {
    /* position: relative; */
    /* width: 300px;
    height: 200px; */
    /* overflow: hidden; */
}

.swipe-out:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 0, 0, 1) 100%);
    /* mask-position: 0px px; */
    /* mask-image: linear-gradient(to right, rgba(77, 255, 0, 0.342) 0%, rgba(228, 10, 10, 0.718) 100%); */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 0, 0, 1) 100%);
    z-index: 0;
    animation: swipe 3s forwards;
}

@keyframes swipe {
    from {
        transform: translateY(0px);
    }
    to {
        left: 100%;
        transform: translateY(100%);
        mask-position: 0px -100%;
    }
}