@tailwind base;
@tailwind components;
@tailwind utilities;

.form-label {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-300;

    margin-bottom: 10px;
}
.file-input {
    @apply inset-0 flex items-end text-right px-3 text-gray-500;

    /* visibility: hidden; */
}

.color-transition {
    @apply transition-colors duration-200;
}

#sample {
    @apply block py-2 px-4 border rounded-md text-sm font-medium bg-teal-50 text-green-700 hover:bg-green-100 active:bg-green-200 color-transition;
    /* @apply mt-1 inset-0 flex items-end text-right px-3 text-gray-500 bg-violet-700; */
}

#links > a {
    @apply text-blue-500 dark:text-blue-400 hover:underline mr-2;
}

#links > a:not(:last-child)::after {
    @apply ml-2 text-gray-300 dark:text-gray-400 no-underline;
    /* @apply dark:text-blue-400 hover:underline; */
    content: "|";
}

.file-input::-webkit-file-upload-button {
    visibility: visible;
}

.invisible .file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.file-input-wrapper {
    @apply relative;
}
.file-input-text {
    @apply inset-0 flex items-center px-3 text-gray-500;
}
.file-input-custom {
    @apply opacity-0 absolute inset-0 cursor-pointer;
}

.image-preview {
    @apply w-full h-auto max-w-md border border-gray-300 rounded-md shadow-md;
}

.image-shred {
    @apply w-full h-full max-w-md border border-gray-300 rounded-md shadow-md pointer-events-auto;
    object-fit: cover;

    cursor: grab;
    user-select: none;
}

body {
    overflow: hidden;
}

body.dissappear::before {
    opacity: 0 !important;
    transition: opacity 0.5s;
}

:not(body).dissappear {
    opacity: 0 !important;
}

body.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 500vh;
    background-image: url('./assets/undraw_note.svg');
    background-size: 50px;
    background-repeat: repeat;
    /* background-color: red; */
    transform: rotate(45deg);
    transform-origin: top right;
    z-index: -1;

    filter: blur(1.75px);
    opacity: 0.25;

    transition: all 0.5s;
}

#shredder {
    right: -100%;
    opacity: 0;
}

/* 
@keyframes swipe {
    from {
        mask-position: 100% 0px;
    }
    to {
        mask-position: -99% 0px;
    }
} */

.settings-row {
    margin-bottom: 5px;
}

.settings-span {
    min-width: 80px;
    margin-right: 10px;
}

.settings-span:first-child {
    min-width: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.settings-slider {
    @apply flex-1;

    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #d6d6d6;
    border-radius: 4px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    margin: 0px 10px 0px 0px;
}

.settings-slider.switch {
    height: 20px;
    border-radius: 10px;
}

.settings-slider:hover {
    opacity: 1;
}

.settings-slider::-webkit-slider-thumb {
    @apply slider-thumb;

    -webkit-appearance: none;
    appearance: none;
}

.settings-slider::-moz-range-thumb {
    @apply slider-thumb;
}

.slider-thumb {
    @apply bg-violet-700;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    cursor: pointer;
}

.slider-thumb[disabled] {
    @apply bg-violet-400;
}

.slider-thumb[disabled],
.slider-thumb[disabled]:hover {
    opacity: 0.7 !important;
}